@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:Poppins,sans-serif ;
}
nav{
    display: flex;
    padding: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right ,rgb(73, 33, 73), rgb(241, 183, 241));
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:1em;
    padding-inline: 3em;
}
.container{
  margin-top: 1.5em;
  width: 100vw;
}
.btn-grid{
    display: flex;
    gap:.5em;
    width:100% ;
   
}
.btn-grid>button{
    background-color: lightblue;
    border: 1px solid black;
    border-style: outset;
    font-size:clamp(.5em,1em,2em) ;
    padding: .2em;
    border-radius: 5px;
    flex:1;
}
.textArea{
    margin-inline:6rem ;
}
.textArea>textarea{
    height: 15rem;
    width: 100%;
    resize: none;
    font-size:large;    
}
.nav-btn{
    text-decoration: none;
    padding: .12em;
    font-size: 1em;
}
ul>li:hover{
    background:gray;
    border-radius: 5px;

}